name: PWA Siteyi Yayınla
on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Python Kur
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Paketleri Yükle
        run: pip install -r requirements.txt
      - name: Siteyi Derle ve At
        run: mkdocs gh-deploy --force
